.ag-table-container {
    width: 100%;
    height: 100%;

    .ag-table-box {
        width: 100%;
        height: 100%;


        .center-aligned-header {
            text-align: center;
        }

        .center-aligned-cell {
            text-align: center;
        }

        .table-selected-row {
            background-color: pink;
        }

    }
}