#root {
  width: 100%;
  height: 100%;

  /* 设置滚动条的样式 */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    // padding-right: 4px;
  }

  /* 滚动槽 */
  ::-webkit-scrollbar-track {
    // box-shadow: inset 0 0 2px 0 rgba(105, 105, 105, 0.3);
    // border-radius: 3px;
  }

  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    border-radius: 99px;
    // border-right: 2px solid #fff;
    background: #dfdcdc;

    &:hover {
      background: #d2e9ff;
    }

    // box-shadow: inset 0 0 2px 0 rgba(105, 105, 105, 0.5);
  }

}

.size100 {
  width: 100%;
  height: 100%;
}